@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .nav-button {
    @apply md:text-lg md:px-4 lg:text-xl lg:px-8 hover:text-[rgb(255,239,156)]
  }
}

.dp-div {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 250px;
}

.dp {
  clip-path: circle(50%);
  position: absolute;
  z-index: 2;
}

.glow1::before,
.glow1::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  background: conic-gradient(#dddddd, #aaaaaa, #888888);
  background-size: 250px;
  width: 250px;
  height: 250px;
  border-radius: 250px;
  z-index: 0;
  animation: spin1 3s infinite linear;
}

.glow1::after {
  filter: blur(15px);
}

@keyframes spin1 {
  100% {
    transform: rotate(-360deg);
  }
}

.glow2::before,
.glow2::after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: conic-gradient(#dddddd, #aaaaaa, #888888);
  background-size: 250px;
  width: 254px;
  height: 254px;
  border-radius: 250px;
  z-index: 1;
  animation: spin2 3s infinite linear;
  opacity: 0.5;
}

@keyframes spin2 {
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .dp-div {
    position: relative;
    width: 288px;
    height: 288px;
    border-radius: 288px;
  }

  .dp {
    clip-path: circle(50%);
    position: absolute;
    z-index: 2;
  }

  .glow1::before,
  .glow1::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    background: conic-gradient(#dddddd, #aaaaaa, #888888);
    background-size: 288px;
    width: 288px;
    height: 288px;
    border-radius: 288px;
    z-index: 0;
    animation: spin1 3s infinite linear;
  }

  .glow1::after {
    filter: blur(15px);
  }

  .glow2::before,
  .glow2::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: conic-gradient(#dddddd, #aaaaaa, #888888);
    background-size: 288px;
    width: 292px;
    height: 292px;
    border-radius: 288px;
    z-index: 1;
    animation: spin2 3s infinite linear;
    opacity: 0.5;
  }
}

@media (min-width: 1024px) {
  .dp-div {
    position: relative;
    width: 320px;
    height: 320px;
    border-radius: 320px;
  }

  .dp {
    clip-path: circle(50%);
    position: absolute;
    z-index: 2;
  }

  .glow1::before,
  .glow1::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    background: conic-gradient(#dddddd, #aaaaaa, #888888);
    background-size: 320px;
    width: 320px;
    height: 320px;
    border-radius: 320px;
    z-index: 0;
    animation: spin1 3s infinite linear;
  }

  .glow1::after {
    filter: blur(15px);
  }

  .glow2::before,
  .glow2::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: conic-gradient(#dddddd, #aaaaaa, #888888);
    background-size: 320px;
    width: 324px;
    height: 324px;
    border-radius: 320px;
    z-index: 1;
    animation: spin2 3s infinite linear;
    opacity: 0.5;
  }
}